.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-family: "Kdam Thmor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
.card button {
  color: rgba(196, 149, 255, 1);
}
.logInScreenBackground {
  background-image: url(../assets/TravelBug\ Login\ Page.gif);
}
.tripsScreenBackground {
  background-image: url(../assets/paulo-silva-pU2VRZ63EKc-unsplash.jpg);
}
.tripsListContainer {
}
.createAccountScreenBackground {
}
body {
}
